@font-face {
  src: url("https://pictures.s3.yandex.net/fonts/ubuntu.woff2") format("woff2"),
    url("https://pictures.s3.yandex.net/fonts/ubuntu.woff") format("woff"),
    url("https://pictures.s3.yandex.net/fonts/ubuntu.ttf") format("truetype");
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("https://pictures.s3.yandex.net/fonts/ubuntubold.woff2")
      format("woff2"),
    url("https://pictures.s3.yandex.net/fonts/ubuntubold.woff") format("woff"),
    url("https://pictures.s3.yandex.net/fonts/ubuntubold.ttf") format("ttf");
  font-family: "Ubuntu";
  font-weight: bold;
  font-style: normal;
}
